/*****************************
******* STYLES SIGNUP ********
*****************************/

.left-panel {
    background-color: #008080;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-panel {
    background-color: white;
    padding-left: 60px;
    padding-right: 60px;
}

.logo {
    width: 150px;
    height: 150px;
}

.app-title {
    font-weight: bold;
    font-size: 30px;
}

/*****************************
******* STYLES LOGIN *********
*****************************/


/*****************************
****** STYLES GENERAL ********
*****************************/

/* General Styles */

/* General Styles */

body {
    /*font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.left-panel-tables, .right-panel-tables {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;

}


.big-title {
    color: #008080;
    text-align: center;
}

.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
}

.request-form label {
    font-weight: bold !important;
}

.request-form textarea {
    resize: none;
}

.action-button {
    background-color: #008080;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

.action-button:hover {
    background-color: #006666;
}


/* MENU PANEL */

.app-title-menu {
    font-size: 2rem;
    font-weight: bold;
}

.menu-panel {
    background-color: #008080;
    color: white;
    padding: 20px;
}

.welcome-message {
    margin-left: 20px;
}

.content-panels {
    padding: 20px;
}

.panel-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.table {
    margin-top: 20px;
}


