.right-panel {
    background-color: #008080;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-panel {
    background-color: white;
    padding-left: 60px;
    padding-right: 60px;
}

.logo {
    width: 150px;
    height: 150px;
}

.login-title {
    font-weight: bold;
    font-size: 30px;
}